body{
    margin:0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    
    
}
.top-header {
    background-image: url(images/c69c2f1e-1c7d-4d65-b210-28531515b1b2.jpg);
    background-repeat: no-repeat;
    width: 78%;
    background-size: cover;
    height: 40%;
    padding: 11%;
}
.top_header_text {
        text-align: center;
        color: white;
        font-size: 50px;
        line-height: 50px;
    }

.top-header p {
    font-size: 19px;
    width: 54%;
    padding-left: 21%;
    color: white;
}
 #anker-1 {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 11px;
    padding: 19px;
    font-size: 25px;
}

.middle_header_text {
    text-align: center;
    padding: 10%;
}

.text {
    line-height: 49px;
    font-size: 75px;} 
    .text p {
        font-size: 20px;
        color: gray;
        margin-left: 9%;}
    .img-slide {
        display: flex;
        margin-left: 17%;
    }     
   .slide-1{ width: 5%;
    padding: 75px;
    background-color: #edf2f7;
    margin-right: 16px;
    border-radius: 10px;}
  

    .slide-2 {
        width: 5%;
        padding: 75px;
        background-color: #edf2f7;
        margin-right: 16px;
        border-radius: 10px;
        border: 5px solid #ed9090;
        
    }
    .slide-3 {
        width: 5%;
        padding: 75px;
        background-color: #edf2f7;
        margin-right: 16px;
        border-radius: 10px}
    .slide-4 {
        width: 5%;
        padding: 75px;
        background-color: #edf2f7;
        margin-right: 16px;
        border-radius: 10px
    
    }
    .slide-5 {
        width: 5%;
        padding: 75px;
        background-color: #edf2f7;
        margin-right: 16px;
        border-radius: 10px
    
    }
    #slide-pra {
        color: #504b4b;
        font-size: 28px;
        text-align: center;
        display: inline-block;
        
    }
    span{
        color: #c94545;
    }
   #input-text{
    
        border: #e7e5e2;
        font-size: 33px;
        color: #e5dcdc;
        border-bottom: 2px solid #dbd9d9;
        width: 66%;
        text-align: center;
        padding: 17px;
    }
    .input {
        padding: 41px;
    }
    .last-top-header {
        text-align: center;
        padding: 9px;
        width: 100%;
    }
    
    .donation_part {
        font-size: 41px;
    }
    
    .donation_part p {
        width: 41%;
        font-size: 22px;
        color: gray;
        margin-left: 29%;
    }
    .dontation-common-div {
        display: flex;
        width: 58%;
        padding: 14px;
        margin:0 auto;
    }
    
    .slide-donation-1 {
        margin-right: 19px;
        background-color: #d2e3e5;
        padding: 45px;
        text-align: center;
        border-radius: 6px;
    }
    .slide-donation-2 {
        margin-right: 19px;
        background-color: rgb(255 202 220);
        padding: 45px;
        text-align: center;
        border-radius: 6px;
    }
    .slide-donation-3 {
        margin-right: 19px;
        background-color:wheat;
        padding: 45px;
        text-align: center;
        border-radius: 6px;
    }

    .donation_extra {
        display: flex;
        width: 100%;
        margin-top: 69px;
    }
    #donation-extra-imgae {
        width: 53%;
        height: 100%;
        margin-left: 49%;
    }
    .dontaion-importans {
        width: 28%;
        text-align: center;
        padding: 15px;
        margin-left: 7%;
    }
    #extra-headding {
        font-size: 218%;
    }
    .contact-text {
        text-align: center;
        padding: 77px;
    }
    
    #get-upd-headding {
        font-size: 4rem;
    }
    #contact-pragrap {
        font-size: 23px;
        width: 34%;
        margin: 0 auto;
        color: gray;
    }
    .contact-email {
        background-color: #edd3a3;
        padding: 89px;
        width: 45%;
        margin: 0 auto;
        border-radius: 8px;
    }
    #email {
        border: none;
        background-color: gainsboro;
        padding: 11px;
        border-radius: 5px;
        font-size: 26px;
        margin-left: 17%;
    }
    #sub {
        border: none;
        background-color: #ef6c54;
        color: white;
        padding: 11px;
        width: 22%;
        margin-left: -2%;
        font-size: 25px;
        border-radius: 9px;
        text-align: center;
    }
    footer {
        background-color: black;
        
        padding: 37px;
        text-align: center;
        margin-top: 8%;
    }
    
    #footer-headding {
        color: #ff6d6d;
        padding: 6px;
        font-size: 47px;
    }
    #footer-pragrap {
        color: gainsboro;
        font-size: 24px;
    }