body{
    margin:0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.top-header {
    background-image: url(images/c69c2f1e-1c7d-4d65-b210-28531515b1b2.jpg);
    background-repeat: no-repeat;
    width: 78%;
    background-size: cover;
    height: 40%;
    padding: 11%;
}
.top_header_text {
        text-align: center;
        color: white;
        font-size: 50px;
        line-height: 50px;
    }

.top-header p {
    font-size: 19px;
    width: 54%;
    padding-left: 21%;
    color: white;
}
 #anker-1 {
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 11px;
    padding: 19px;
    font-size: 25px;
}